@font-face {
	font-family: 'Big Noodle';
	font-style: normal;
	src: url(../assets/fonts/big_noodle_titling.ttf) format('truetype');
}

@font-face {
	font-family: 'Code';
	font-style: normal;
	src: url(../assets/fonts/Code.otf) format('opentype');
}

@font-face {
	font-family: 'Lane';
	font-style: normal;
	src: url(../assets/fonts/LANENAR_.ttf) format('truetype');
}

#login-button {
	background-color: rgb(84, 16, 135);
	color: white;
}

#login-button:hover {
	background-color: orange;
	color: white;
}

#logField,
#payrollSearchField {
	border-radius: 5px 0 0 5px;
	border: 1px solid #808080;
	border-right-width: 0;
}

#logButton,
#payrollSearchButton {
	border-radius: 0 5px 5px 0;
	border: 1px solid #808080;
	border-left-width: 0;
}

#img:hover {
	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(100%); /* FF 35+ */
}
